html body h1{
  background-color: grey;
}

h1{
  background-color: orange;
}

.fonas-z {
  background-color: green;
}
.fonas-r {
  background-color: red;
}
.fonas-m {
  background-color: blue;
}|

  #fonas-ggg {
      background-color: yellow;
  }
