
h1 {
    color: red;
    text-align: center;
}
main {
    width: 80%;
}
aside {
    width: 20%;
}
.float-left {
    float: left;
}
.isjungiu-float{
    clear: both;
    content: "";
}

.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-500 {
    height: 500px;
}


.fonas-g {  background-color: green; }
.fonas-w {  background-color: white; }
.fonas-p {  background-color: pink;  }
.fonas-grey {  background-color: #f2f2f2;  }
