/* Viskam */

*{
  font-family: 'PT Sans Narrow', sans-serif;
}

body{
  background-color: grey;
  margin-left: 10%;
}

h1{
  text-align: center;
}

/* Navigacijos eilutė */

nav li{
  float: left;
  margin: 2% 5%;
  list-style-type: none;
}

.topbar{
  width: 90%;
  height: 50px;
  background-color: pink;
}

button{
  color: white;
  background-color: black;
  width: 15%;
}

input{
  width: 50%;
}

nav{
  float: left;
  width: 60%;
}

.search{
  float: left;
  width: 40%;
  margin-top: 1.5%;
}

ul{
  margin-top: 1%;
}

/* Content ir sidebar */

section{
  float: left;
}

main{
  overflow: hidden;
  position: relative;
  width:90%;
}

.content{
  width: 69%;
  background-color: white;
  margin: 1% 1% 1% 0%;
}

.sidebar{
  width: 30%;
  background-color: pink;
  margin: 1% 0% 1% 0%;
  position: absolute;
  right: 0;
  height: 96%;
}

.sidebar li{
  margin-bottom: 3%;
}

h2{
  text-align: center;
}

p, h3{
  margin-left: 2%;
}

/* Footer */

.footer{
  width: 90%;
  background-color: white;
  margin: 0% 1% 1% 0%;
}
