h1 {
    color: red;
}
.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-500 {
    height: 500px;
}
.kaire {
    width: 90%;
    float: left;
}
.desine {
    width: 10%;
    float: left;
}

    /* for tablets iki 1000px  */
@media (max-width: 1000px) {
    .kaire {
        width: 70%;
    }
    .desine {
        width: 30%;
    }
}
    /* for mobile iki 767px  */
@media (max-width: 767px) {
    .kaire {
        width: 50%;
    }
    .desine {
        width: 50%;
    }
}
