/* Spalvu kodai, kuriuos bendrai naudosim */
/* Puslapio tema smilkalai. */
/* Projekto pavadinimas "POND5" */

body {
    background-image: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-320 {
    height: 320px;
}
.aukstis-500 {
    height: 500px;
}
#galerijaFoto {
    background-image: url("../img/5.png");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.95;
    border: 0.5px solid;
    border-radius: 50px 20px;
}
.articleBackground {
    background: white;
    opacity: 0.5;
}
.paddingCenter {
    padding-top: 25px;
}

.marginTop {
    margin-top: 325px;
}

.pilka {
    background-color: grey;
}
