* {
    box-sizing: border-box;
}
/* -------------- */
h1 {
    color: red;
    z-index: 9999;
}
h1,
h2,
h3,
h4 {
    text-align:  center;
}
.remelis-b-l {
    border-left: solid 2px #000;
    border-bottom: solid 2px #000;
}
.aukstis-100 {
    height: 100px;
}
.aukstis-200 {
    height: 200px;
}
.aukstis-300 {
    height: 300px;
}
.aukstis-500 {
    height: 500px;
}


article {
     background-color: #f2f2f2;
    /* vienoje eiluteje */
    /* 1) plotis */
    /* 2) ant VISU elemt. uzdetas float */
    /* 3) isjungti float */
    width: 30.66%;
    float: left;
    border: solid 2px #000;
    margin-left: 2%;
    /*  */
    position: relative;
    padding-top:34px;
}
.isjungiuFloat {
    clear: both;
    content: "";
}
p {
    padding: 15px;
    text-align: justify;
}
.fonas-g {
    background-color: green;
}
.fonas-r {
    background-color: red;
}
.fonas-p {
    background-color: pink;
}
.plotis-160 {
    width: 160px;
}
/* elemento perkelimas ekrane*/
.pozicija-des-virusje {
    position: absolute;
    /*  top, right veikai tik su absolute*/
    top: 0;
    right: 0;
}

/*  */


/*  */
