.square1 {
  background-color: black;
}
.square2 {
  background-color: blue;
}
.square3 {
  background-color: yellow;
}
.square4 {
  background-color: brown;
}
.square5 {
  background-color: red;
}
.square6 {
  background-color: black;
}
.square7 {
  background-color: green;
}
.square8 {
  background-color: orange;
}

h2 {
  color: red;
  font-style: italic;

}
