*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;

}
body{
  background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../images/1.jpg);
  height:  100vh;
  background-size: cover;
  background-position: center;
  color: #fff;

}

ul{
  float: right;
  list-style-type: none;
  margin-top: 40px;
}
ul li {
  display: inline-block;
  margin: auto;

}
ul li a{
  text-decoration: none;
  border-radius: 8px;
  font-size: 17px;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid transparent;
  transition: all 0.6s ease;


}
ul li a:hover{
  text-decoration: none;
  background-color: #fff;
  color: #000;
}

/* ul li.active a{
  background-color: #fff;
  color: #000;
} */
.logo img{
  float: left;
  width: 200px;
  height: auto;
}
.main{
  max-width: 1200px;
  margin: auto;

}
.title{
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.title h1{
  color: #fff;
  font-size: 70px;
}
.button{
  position: absolute;
  top: 67%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btn{
  border: 1px solid #fff;
  border-radius: 15px;
  padding: 10px 30px;
  color: #fff;
  font-size: 17px;
  font-family: Arial
}
.btn:hover{
  background-color:#fff;
  color: #000;
}

.title1 {
  position: absolute;
  font-size: 40px;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.paslauguSarasas {
  position: absolute;
  text-align: center;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);




}
 .list {
  list-style-type: none;
  margin-top: 20px;
  padding: 10px;
  font-size: 22px;
  background: transparent;



}
.paslaugosNuoroda {
  margin-top: 20px;
  padding: 10px;
  font-size: 22px;
  background: transparent;
  border: 1px solid gray;
  border-radius: 8px;
  color: #fff;


}
.paslaugosNuoroda:hover{

  background-color:#fff;
  color: #000;

}
.about-title h1 {
  font-size: 32px;
  line-height: 10px;

}

.about {
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-transform: full-width;
}
/* .footer {
  clear: both;
    position: relative;
    height: 200px;
    margin-top: -200px;

} */
