*{
  font-family: Sans-Serif;;
}

.box{
  width: 30%;
  float: left;
  margin: 1%;
  background-color: grey;
  border: solid;
  border-width: 2px;
  position: relative;
}

.patiekalas{
  border: solid;
  border-width: 0px 0px 2px 2px;
  width: 35%;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
}

p{
  margin: 15% 5% 5% 5%;
}

.red{
  background-color: red;
}

.pink{
  background-color: pink;
}

.yellow{
  background-color: yellow;
}

h1{
  text-align: center;
}

@media only screen and (max-width: 800px) {
  .box{
    width: 45%;
  }

  .box3{
    width: 92.5%;
  }
}

@media only screen and (max-width:500px) {
  .box{
    width: 90%;
  }
  }
