html body  h1 {
  background-color: grey;
}
h1 {
  background-color: orange;
}


.fonas-z {
  background-color: green;
}
.fonas-b {
  background-color: blue;
}
#fonas-ggg {
  background-color: yellow;
}
.fonas-g {
  background-color: yellow;
}
